{extend name="common/base"}


{block name="style"}

<link rel="stylesheet" type="text/css" href="{$static_path}/advance/css/sub_page.css?_={$site_version}">

{/block}

{block name="content"}

<!--服务1-->
<div class="expert-opinion-wrapper" id="Gemomao">
      <div class="expert-section expert-section-1">
        <p class="expert-titles"><span>การบริการขอความเห็นที่ 2 จากแพทย์ผู้เชี่ยวชาญ (ESMO)</span></p>
        <p class="expert-titles-two">เมื่อคุณได้รับการตรวจวินิจฉัยครั้งแรกและต้องการตรวจสอบยืนยันผลทางการแพทย์</p>
        <div class="expert-sub-2">
        <div style="width: 100%;height: auto;">
            <div class="center-left"></div>
            <div class="center-right">
              <div class="topbar-new"></div>
               <p class="center-text1">ในยามบาดเจ็บหรือเจ็บป่วย สำหรับใครก็ตามที่ต้องตัดสินใจที่สำคัญเกี่ยวกับการรักษา เวลาที่ใช้ในการพูดคุยปรึกษากับแพทย์ถือเป็นสิ่งที่สำคัญและจำเป็นที่สุด เราจึงขอมอบบริการให้คำปรึกษาจากแพทย์แบบไม่จำกัดจำนวนครั้งเพื่อช่วยให้ท่านเข้าใจในสิ่งที่กำลังจะเผชิญ วิธีการในการรักษา และได้คำตอบที่ดีที่สุดในเรื่องที่คุณกังวล</p>
              <div class="bottombar-new"><div class="bottombar1-new"></div><div class="bottombar2-new"></div></div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
        <div class="expert-sub expert-sub-1">
          <div class="expert-feature-wrapper clearfix">
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/1.png" alt=""></div>
              <div class="feature-caption">
                <span class="feature-title">
                รับคำปรึกษาจากแพทย์ผู้มีประสบการณ์
                </span>
                <span class="feature-title-four">ท่านจะได้รับการดูแลจากแพทย์ที่ได้รับมอบหมายให้ดูแลท่านโดยเฉพาะ เพื่อให้คำปรึกษาทางการแพทย์ ซึ่งจะเป็นผู้ที่จะเข้าใจ และรวบรวมประวัติทางการแพทย์ของท่าน รวมทั้งแนะนำคำถามที่จำเป็นและสำคัญที่ต้องปรึกษากับแพทย์ผู้เชี่ยวชาญเฉพาะทางต่อไป</span>
                <!-- <span>The average practice for more than 10 years</span> -->
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/2.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              การวินิจฉัยโดยแพทย์ผู้เชี่ยวชาญเฉพาะทาง
              </span>
              <span class="feature-title-four">คณะกรรมการของทีมแพทย์ผู้เชี่ยวชาญเฉพาะทางระดับโลกของแอดวานส์ เมดิคอล จะทำการวินิจฉัยโรคร่วมกัน เพื่อให้คำแนะนำที่ถูกต้องเหมาะสม และสามารถนำไปเป็นทางเลือกในการพิจารณาวิธีการรักษา</span>
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/3.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              คำแนะนำทางการแพทย์
              </span>
              <span class="feature-title-four">ที่ปรึกษาส่วนตัวด้านสุขภาพ พร้อมให้ความช่วยเหลือท่านและครอบครัวตามความต้องการ เพื่อช่วยให้ท่านและครอบครัวเข้าใจในแผนการรักษา สิ่งที่คาดหวัง และผลการรักษาที่อาจเกิดขึ้น โดยการปรึกษานั้นจะเสร็จสมบูรณ์ต่อเมื่อคำถามทั้งหมดได้ถูกตอบแล้ว
</span>
              </div>
            </div>
          </div>
        </div>
        <!-- expert-section-2 -->
       <div class="expert-section expert-section-2">
        <div class="expert-sub expert-sub-5"></div>
        <div class="diagnose-process-wrapper2 clearfix">
          <div class="diagnose-step">
             <div class="diagnose-step-title">สถานการณ์สำหรับบริการ ESMO</div>  <!-- --> 
            <div class="step-wrapper">
              <!-- <div class="diagnose-step-num">1</div> -->
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
                  <!-- <span class="step-title" style="font-weight: bolder;">สถานการณ์สำหรับบริการ ESMO</span> -->
                  <span class="step-title">กรณีตัวอย่างที่คุณสามารถขอใช้การบริการขอความเห็นที่ 2 จากแพทย์ผู้เชี่ยวชาญ</span>
                  <ul style="padding-left: 15px;">
                    <li>เมื่อต้องการทำความเข้าใจเกี่ยวกับสภาวะการเจ็บป่วย เมื่อได้รับผลวินิจฉัย</li>
                    <li>เมื่อได้รับการวินิจฉัยว่าป่วยเป็นโรคร้ายแรง เช่น โรคมะเร็ง โรคหัวใจ และต้องการทำความเข้าใจเกี่ยวกับสภาวะโรคที่เป็นและวิธีการรักษา</li>
                    <li>เมื่อได้รับคำแนะนำให้ทำการผ่าตัด และต้องการความคิดเห็นเพิ่มเติมเพื่อใช้ในการตัดสินใจ </li>
                    <li>เมื่อได้รับการวินิจฉัยที่แตกต่างกันจากแพทย์หลายๆท่าน</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="diagnose-step">
            <div class="diagnose-step-title">สถานการณ์ไม่เหมาะสมสำหรับบริการ ESMO</div> <!-- -->
            <div class="step-wrapper">
              <!-- <div class="diagnose-step-num">2</div> -->
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
<!--                   <span class="step-title" style="font-weight: bolder;">สถานการณ์ไม่เหมาะสมสำหรับบริการ ESMO

</span> -->
                 <span class="step-title">การบริการนี้เป็นการให้การบริการขอความเห็นที่ 2 จากแพทย์ผู้เชี่ยวชาญ ซึ่งไม่ใช่การบริการในกรณีฉุกเฉินหรือสถานการณ์ที่เป็นอันตรายถึงชีวิตอย่างเร่งด่วน   
</span>
                  <ul style="padding-left: 15px;">
                    <!-- <li>กรณีฉุกเฉิน หรือวิกฤติ</li>
                    <li>กรณีประสบอุบัติเหตุ</li>
                    <li>กรณีอยู่ในสถานการณ์ที่เป็นอันตรายถึงชีวิตอย่างเร่งด่วน เช่น อยู่ใน ไอ.ซี.ยู ฯลฯ</li>
                    <li>กรณีเจ็บป่วยทั่วๆไป เช่นไข้หวัดใหญ่ เป็นไข้ ปวดศีรษะหรือมีอาการผื่นขึ้นเป็นครั้งคราว</li>
                    <li style="list-style: none;">&nbsp;</li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!--expert-section-2 end -->
        <div class="expert-sub expert-sub-2">
          <h3><span style="color:#017f4f;font-weight: bold;">ตัวอย่างความคิดเห็นจากแพทย์ผู้เชี่ยวชาญระดับนานาชาติ</span></h3>
          <div class="expert-main-example">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/expert-opinion01.jpg" alt="">
            </div>
            <div class="expert-info-wrapper">
              <span class="expert-remark expert-remark-1" style="letter-spacing:3px;">“เมื่อท่านมีข้อกังวลเกี่ยวกับการวินิจฉัยโรค การทำนายโรค หรือแม้แต่ทางเลือกในการรักษาโรคของท่าน ----นี่ถือว่าเป็นช่วงเวลาที่ดีที่ท่านจะสอบถามข้อมูลเพิ่มเติม โดยความเห็นของแพทย์ผู้เชี่ยวชาญจะช่วยท่านในการตรวจสอบหาความสมดุลของข้อมูลทางการแพทย์ทั้งหมดที่มีผลกระทบต่อท่าน”
              </span>
              <span class="expert-info" style="text-align:center; ">&nbsp;&nbsp;&nbsp;</span>
              <span class="expert-info" style="text-align:center; ">ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน</span>
              <!-- <span class="expert-info" style="text-align:center; ">Theodore Steinman, MD</span> -->
              <span class="expert-info" style="text-align:center; ">Harvard Medical School </span>
            </div>
          </div>
        </div>
        <div class="expert-example-wrapper clearfix">
          <div class="expert special-expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait01.png" alt="">
            </div>
            <span>ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน จาก </span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน จาก </span>
              <span class="expert-info">
                <span>Harvard Medical School&nbsp;Professor of Clinical Medicine</span>
                <span>"เมื่อท่านมีข้อกังวลในเรื่องการวินิจฉัยโรค การพยากรณ์โรค หรือแม้แต่ทางเลือกในการรักษาโรค --นี่ถือว่าเป็นช่วงเวลาที่เหมาะสมที่ท่านจะขอข้อมูลเพิ่มเติม</span>
                <span>โดยความเห็นของผู้เชี่ยวชาญทางการแพทย์จะช่วยให้ท่านได้ตรวจสอบและเป็นเสมือนคันชั่งให้คุณเลือกพินิจพิเคราะห์ข้อมูลทางการรักษาทั้งหมดที่มีผลกระทบต่อท่าน</span>
              </span>
            </div>
          </div>   
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait02.png" alt="">
            </div>
            <span class="special-expert-name">แพทย์หญิง โมนิกา คาสติกลิโอเน-เกิร์ช</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">แพทย์หญิง โมนิกา คาสติกลิโอเน-เกิร์ช</span>
              <span class="expert-info">
                <span>University Hospital Geneva</span>
                <span>หัวหน้าแพทย์แผนกเนื้องอกนรีเวชวิทยา และผู้อำนวยการศูนย์เต้านม</span>
                <span>ผู้ให้คำแนะนำและที่ปรึกษาของ Swiss Zurich</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait03.png" alt="">
            </div>
            <span>นายแพทย์ ฟรานโก เอ็ม. มักกิอา</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ ฟรานโก เอ็ม. มักกิอา</span>
              <span class="expert-info">
                <span>NYU School of Medicine and Perimutter Cancer Institute</span>
                <span>ศาสตราจารย์แผนกเนื้องอกวิทยา หลักสูตรมะเร็งทรวงอก</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait04.png" alt="">
            </div>
            <span>นายแพทย์ โดนัล ไอ. เอบรัมส์</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ โดนัล ไอ. เอบรัมส์</span>
              <span class="expert-info">
                <span>University of California, San Francisco</span>
                <span>Osher Center for Integrative Medicine</span>
                <span>หัวหน้าแพทย์ประจำโรงพยาบาลกลาง ซานฟรานซิสโก แผนกโลหิตวิทยา/เนื้องอกวิทยา </span>
                <!-- <span>Chief, Hematology/Oncology Division</span> -->
              </span>
            </div>
          </div>
          <div class="expert expert-next">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait05.png" alt="">
            </div>
            <span>นายแพทย์ เอลเลียต เอส. คราเมส</span>
            <div class="expert-details">
            <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ เอลเลียต เอส. คราเมส</span>
              <span class="expert-info">
                <span>กรรมการกิตติมศักดิ์ประจำสมาคมอายุรแพทย์ระบบประสาทนานาชาติ</span>
                <span>บรรณาธิการกิตติมศักดิ์ ของวารสาร LEARN เรื่อง "การควบคุมระบบประสาท"</span>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="expert-example-caption">
          <span>We have a global network</span>
        </div> -->

        <div class="image-wrapper">
                    <img src="{$static_path}/advance_en/img/T_work.png" style="width: 100%;height: auto;">
                </div>
      </div>

    </div>





{/block}



{/extend}
