{extend name="common/base"}


{block name="style"}

<link rel="stylesheet" type="text/css" href="{$static_path}/advance/css/sub_page.css?_={$site_version}">

{/block}

{block name="content"}

<!--服务1-->
<div class="expert-opinion-wrapper" id="Gemomao">
      <div class="expert-section expert-section-1">
        <p class="expert-titles"><span>Global Expert Medical Opinion</span></p>
      
        <div style="width: 100%;height: auto;">
            <div class="center-left"></div>
            <div class="center-right">
              <div class="topbar-new"></div>
               <p class="center-text1">For anyone making an important medical decision, what matters is time with health experts. Our Personal Health Advisors offer unlimited access to help you understand what's happening, how to navigate the system, and get the best answers for your questions.</p>
              <div class="bottombar-new"><div class="bottombar1-new"></div><div class="bottombar2-new"></div></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div></div>
        <div class="expert-sub expert-sub-1">
          <div class="expert-feature-wrapper clearfix">
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/1.png" alt=""></div>
              <div class="feature-caption">
                <span class="feature-title">
                Personal Health Advisor
                </span>
                <span class="feature-title-four">You will be assigned a dedicated Personal Health Advisor who will give sufficient time and attention to understand and collect your medical history and help you list your most critical questions requiring expert advice.</span>
                <!-- <span>The average practice for more than 10 years</span> -->
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/2.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              Expert Review
              </span>
              <span class="feature-title-four">A global clinical committee searches and identifies top specialists around the world. This team collaborates and determines the correct diagnosis and optimal treatment plan for your condition.</span>
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/3.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              Medical Orientation
              </span>
              <span class="feature-title-four">The Personal Health Advisor is available on demand to help you and your family understand the course of treatment, what to expect, and the likely results.
A case is considered complete only once your questions are fully answered.
</span>
              </div>
            </div>
          </div>
        </div>
        <div class="expert-sub expert-sub-2">
          <h3><span style="color:#017f4f;font-weight: bold;">Some Examples of International Experts</span></h3>
          <div class="expert-main-example">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/expert-opinion01.jpg" alt="">
            </div>
            <div class="expert-info-wrapper">
              <span class="expert-remark expert-remark-1" style="letter-spacing:3px;">“When you have concerns about your diagnosis, your prognosis, or the range of treatment options available to you — that is the time to ask for more information. An expert medical opinion provides checks and balances of all the medical information that impacts your care.”
              </span>
              <span class="expert-info" style="text-align:center; ">&nbsp;&nbsp;&nbsp;</span>
              <span class="expert-info" style="text-align:center; ">Harvard Medical School</span>
              <span class="expert-info" style="text-align:center; ">Theodore Steinman, MD</span>
              <span class="expert-info" style="text-align:center; ">Clinical Professor of Medicine, Harvard Medical School </span>
            </div>
          </div>
        </div>
        <div class="expert-example-wrapper clearfix">
          <div class="expert special-expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait01.png" alt="">
            </div>
            <span>Theodore I. Steinman, &nbsp;M.D.</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">Theodore I. Steinman, &nbsp;M.D.</span>
              <span class="expert-info"><span>Harvard Medical School&nbsp;Professor of Clinical Medicine</span>
              <span>Beth&nbsp;Israel&nbsp;Deaconess&nbsp;Medical center</span>
              <span>Brigham&amp;Women&apos;s&nbsp;Hospital&nbsp;Chief physician</span></span>
            </div>
          </div>   
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait02.png" alt="">
            </div>
            <span class="special-expert-name">Monica&nbsp;Castiglione&#8208;Gertsch,&nbsp;M.D.</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">Monica&nbsp;Castiglione&#8208;Gertsch,&nbsp;M.D.</span>
              <span class="expert-info">
                <span>University Hospital Geneva</span>
                <span>Head of Onco-Gynecology and Director of Breast Center</span>
                <span>Swiss Zurich Advisor and Consultant Brustzentrum Hirslanden</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait03.png" alt="">
            </div>
            <span>FRANCO&nbsp;M.&nbsp;MUGGIA,&nbsp;M.D.</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">FRANCO&nbsp;M.&nbsp;MUGGIA,&nbsp;M.D.</span>
              <span class="expert-info">
                <span>NYU School of Medicine and Perimutter Cancer Institute</span>
                <span>Professor of Medical Oncology, Breast Cancer Programme.</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait04.png" alt="">
            </div>
            <span>DONALD&nbsp;I.&nbsp;ABRAMS,&nbsp;M.D.</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">DONALD&nbsp;I.&nbsp;ABRAMS,&nbsp;M.D.</span>
              <span class="expert-info">
                <span>University of California, San Francisco</span>
                <span>Osher Center for Integrative Medicine</span>
                <span>San Francisco General Hospital</span>
                <span>Chief, Hematology/Oncology Division</span>
              </span>
            </div>
          </div>
          <div class="expert expert-next">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait05.png" alt="">
            </div>
            <span>ELLIOT&nbsp;S.&nbsp;KRAMES,&nbsp;M.D.</span>
            <div class="expert-details">
            <span class="expert-margin">
              </span>
              <span class="expert-name">ELLIOT&nbsp;S.&nbsp;KRAMES,&nbsp;M.D.</span>
              <span class="expert-info">
                <span>Honorary Director of International Society for Neuromedicine.</span>
                <span>Learn Journal:Honorary editor of the "Neural Regulation".</span>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="expert-example-caption">
          <span>We have a global network</span>
        </div> -->
      </div>
      <div class="expert-section expert-section-2">
        <div class="expert-sub expert-sub-5"></div>
        <div class="diagnose-process-wrapper2 clearfix">
          <div class="diagnose-step">
            <div class="step-wrapper">
              <div class="diagnose-step-num">1</div>
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
                  <span class="step-title" style="font-weight: bolder;">Scenarios for EMO service</span>
                  <span class="step-title">Example cases for Second Expert Medical Opinion services: </span>
                  <ul style="padding-left: 15px;">
                    <li>When you want to validate and confirm the diagnosis received</li>
                    <li>When diagnosed with critical illness such as cancer, heart disease, and you’d like to understand treatment alternatives
</li>
                    <li>When suggested surgery, and you’d like to reconfirm to make better decisions</li>
                    <li>When receiving contradictory diagnosis from different doctors
</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="diagnose-step">
            <div class="step-wrapper">
              <div class="diagnose-step-num">2</div>
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
                  <span class="step-title" style="font-weight: bolder;">Scenarios not fit for EMO service
</span>
                  <span class="step-title">These cases are not recommended for Second Expert Medical Opinion services:   
</span>
                  <ul style="padding-left: 15px;">
                    <li>Emergency</li>
                    <li>Accidents</li>
                    <li>In a urgent life threatening situation, such as ICU, with unstable vital signs</li>
                    <li>Daily common issues, such as flu, fever, headache, occasional rash
</li>
                    <li style="list-style: none;">&nbsp;</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





{/block}



{/extend}
