  {extend name="common/base"}


{block name="content"}
<div class="feature-container clearfix">
      <div class="feature-wrapper">
        <div class="image-wrapper">
          <img src="{$static_path}/advance/img/111.jpg" alt="">
        </div>
        <div class="feature-desc feature-desc-1">
          <div class="feature-desc-inner-wrapper">
          <h3><span>国际权威专家意见</span></h3>
          <ul>
            <li><a href="{:url('/services/1')}#diagnose"><span class="feature-text">诊疗意见<span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
            <li><a href="{:url('/services/1')}#foreign"><span class="feature-text">海外治疗<span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
          </ul>
          </div>
        </div>
      </div>
      <div class="feature-wrapper">
        <div class="image-wrapper">
          <img src="{$static_path}/advance/img/222.jpg" alt="">
        </div>
        <div class="feature-desc feature-desc-2">
          <div class="feature-desc-inner-wrapper">
          <h3><span>慢病管理</span></h3>
          <ul>
            <li><a href="{:url('/services/2')}#pressure"><span class="feature-text"><span class="special-text">专属心理和职业教练疏导</span><span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="feature-wrapper">
        <div class="image-wrapper">
          <img src="{$static_path}/advance/img/333.jpg" alt="">
        </div>
        <div class="feature-desc feature-desc-3">
          <div class="feature-desc-inner-wrapper">
          <h3><span>体检报告专业解读</span></h3>
          <ul>
            <li><a href="{:url('/services/3')}#statistics"><span class="feature-text">体检数据解读<span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
            <li><a href="{:url('/services/3')}#subhealth"><span class="feature-text">亚健康/慢病管理<span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="feature-wrapper">
        <div class="image-wrapper">
          <img src="{$static_path}/advance/img/444.jpg" alt="">
        </div>
        <div class="feature-desc feature-desc-4">
          <div class="feature-desc-inner-wrapper">
          <h3><span>医疗资源安排</span></h3>
          <ul>
            <li><a href="{:url('/services/4')}#resource"><span class="feature-text"><span class="special-text">医生推荐和医疗机构导航</span><span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
{/block}
{/extend}

