{extend name="common/base" }

{block name="style"}

{/block}

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:module_url('edit',['id' => $_id])}">
		         <!--  用户名 -->
                 {$widget->form('text', ['title' => '用户名', 'name' => 'user_name', 'value' => $yuyue_list[0]['user_name'],'r_md_num'=>3,'attr'=>' maxlength="30"'])}
                 <!--  联系电话 -->
                 {$widget->form('text', ['title' => '联系电话', 'name' => 'phone', 'value' => $yuyue_list[0]['phone'],'r_md_num'=>3,'attr'=>' maxlength="30"'])}
		         <!--  邮箱 -->
                 {$widget->form('text', ['title' => '邮箱', 'name' => 'email', 'value' => $yuyue_list[0]['email'],'r_md_num'=>3,'attr'=>' maxlength="30"'])}
		         <!--  咨询简介 -->
                 {$widget->form('textarea', ['title' => '咨询简介', 'name' => 'advisory_details', 'value' =>$yuyue_list[0]['advisory_details']])}
		         <!--  预约日期 -->
                 {$widget->form('text', ['title' => '预约日期 ', 'name' => 'submitdate', 'value' => $yuyue_list[0]['submitdate'],'r_md_num'=>3,'attr'=>' maxlength="30"'])}
		         <!--  预约时间段 -->
                 {$widget->form('text', ['title' => '预约时间段', 'name' => 'time_quantum', 'value' => $time_quantum[0]['time_quantum'],'r_md_num'=>3,'attr'=>' maxlength="30"'])}
		         <!--  预约状态 -->
		           {if condition="$yuyue_list[0]['appointment_state'] eq 1"}
		               {$widget->form('text', ['title' => '预约状态', 'name' => 'appointment_state', 'value' => '委派中','r_md_num'=>3,'attr'=>' maxlength="30"'])}
		           {elseif condition="$yuyue_list[0]['appointment_state'] eq 2"/}
		               {$widget->form('text', ['title' => '预约状态', 'name' => 'appointment_state', 'value' => '预约成功中','r_md_num'=>3,'attr'=>' maxlength="30"'])}
		           {elseif condition="$yuyue_list[0]['appointment_state'] eq 3"/}
		               {$widget->form('text', ['title' => '预约状态', 'name' => 'appointment_state', 'value' => '已完成','r_md_num'=>3,'attr'=>' maxlength="30"'])}
		           {elseif condition="$yuyue_list[0]['appointment_state'] eq 4"/}
		               {$widget->form('text', ['title' => '预约状态', 'name' => 'appointment_state', 'value' => '取消预约','r_md_num'=>3,'attr'=>' maxlength="30"'])}
		           {/if}
                 
                 {$widget->form('submit', ['title' => '用户操作'])}
		</form>
	</div>
</div>
{/block}

