{extend name="common/base" }

{block name="style"}

{/block}

{block name="content"}

<div class="am-g">
    <div class="am-u-sm-12">
    
        <table class="am-table am-table-striped am-table-radius am-table-bordered am-form">
            <thead>
                <tr>
                    <th style="text-align:center;">咨询简介</th>
                    <th style="text-align:center;">预约天数</th>
                    <th style="text-align:center;">预约时间段</th>
                    <th style="text-align:center;">用户名</th>
                    <th style="text-align:center;">状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name="info" id="vo"}
                     <tr>   
                            <td  class="am-text-middle">{$vo.advisory_details|mb_substr=0,30,'utf-8'}........</td>
		                    <td align="center" class="am-text-middle">{$vo.submitdate}</td>
		                    <td align="center" class="am-text-middle">{$vo.time_quantum}</td>
		                    <td align="center" class="am-text-middle">{$vo.user_name}</td>
		                    <td align="center" class="am-text-middle">
		                          {if condition="$vo.appointment_state eq 1"}
		                                                                                                              委派中
		                          <a class="am-btn am-btn-link am-btn-xs am-text-primary"  href="{:module_url('yuyue/doctor',['id'=>$vo.id])}">指定医生</a>
		                          {elseif condition="$vo.appointment_state eq 2"/}预约成功
		                          {elseif condition="$vo.appointment_state eq 3"/}已完成
		                          {elseif condition="$vo.appointment_state eq 4"/}预约已取消{/if}
		                    </td>
		                    <!--操作 -->
		                    <td class="am-text-middle">
			                        <div class="am-btn-toolbar">
			                            <div class="am-btn-group am-btn-group-xs">
			                               {$widget->row('button', ['title' => '取消预约', 'class' => 'am-text-danger ajax-get ajax-confirm', 'icon' => 'am-icon-trash-o', 'url' => module_url('cancel', ['id' => $vo['id']])])}
			             
			                                <!-- {$widget->row('button', ['title' => '编辑', 'class' => 'am-text-secondary', 'icon' => 'am-icon-pencil-square-o', 'url' => module_url('edit', ['id' => $vo['id']])])} -->
			                            </div>
			                        </div>
		                    </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
        
  
          
            <div class="am-fr"></div>
    
    </div>
</div>
{/block}

