{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:module_url('add')}">
		
			{$widget->form('text', ['title' => 'User Name', 'name' => 'user_name', 'value' => '','r_md_num'=>3])}
                        {$widget->form('text', ['title' => 'Name', 'name' => 'nickname', 'value' => '','r_md_num'=>1])}
                        {$widget->form('select', ['title' => 'Company', 'name' => 'company', 'value' => 1,'list'=>$company_list])}
                        {volist name="companymore" id="cm" key="k"}
                        <div id="moreform{$k-1}" style="display:none;">
                        {volist name="cm" id="vo"}
                         {if condition="isset($vo['list'])"}
                         {$widget->form($vo.type, ['title' => $vo['title'], 'name' => $vo['name'], 'value' => $vo['value'],'list'=>$vo['list'],'require'=>false])}
                         {else/}
                         {$widget->form($vo.type, ['title' =>$vo['title'], 'name' => $vo['name'], 'value' =>$vo['value'],'r_md_num'=>3,'require'=>false])}
                          {/if}
                        {/volist}
                        </div>
                        {/volist}
                        {$widget->form('text', ['title' => 'Login Password', 'type' => 'password', 'name' => 'pwd', 'value' => '','r_md_num'=>3])}
			
			{$widget->form('text', ['title' => 'Confirm Password', 'type' => 'password', 'name' => 'pwd_again', 'value' => '','r_md_num'=>3])}
			
                        {$widget->form('radio', ['title' => 'Gender', 'name' => 'sex', 'value' => 1,'list'=>$sexlist])}
                        {$widget->form('text', ['title' => 'Residence Address', 'name' => 'area', 'value' => '','r_md_num'=>3,'require'=>false])}
			
			{$widget->form('text', ['title' => 'Email', 'name' => 'email', 'value' => '','r_md_num'=>3])}
			
                        {$widget->form('text', ['title' => 'Mobile Number', 'name' => 'tel', 'value' => '','r_md_num'=>3])}
                        
                        
		       {$widget->form('select', ['title' => 'Notification language', 'name' => 'language', 'value' =>3,'list'=>$languagelist])}
			{$widget->form('image', ['title' => 'Avatar', 'name' => 'avatar', 'value' => '', 'width' => 600,'require'=>false])}
			
                            {$widget->form('radio', ['title' => 'User Status', 'name' => 'u_status', 'value' => 1, 'list' => $userstatus])}
	               
		
			
			
			
			
			{$widget->form('submit', ['title' => 'User Operating','text_ok' => 'Ok','text_cancel' => 'Cancel'])}
			
		</form>
	</div>
</div>
{/block}
{block name="script"}

<script type="text/javascript" src="{$lib_path}/jquery/2.0.0/jquery.min.js?_={$site_version}"></script>
 <script type="text/javascript">
 getmoreContent($("select[name='company']").val());
$("select[name='company']").change(function(){
    var companyid=$(this).val();
    $("#moreform"+companyid).hide();
         getmoreContent(companyid);
      });
      
      
    function getmoreContent(id){
         $.ajax({
			url:"{:module_url('Interfaces/getCompanyMore')}",
			data:{companyid:id},
			dataType:'json',
			type:'post',
                        async: false,
			success:function(data){
                              
				if(data<1){
                                  $("#moreform1").hide();
                              }else{
                                  $("#moreform"+data).show();
                              }
				
                            
                           
			}
		})
    }
</script>
{/block}