{extend name="common/base" }

{block name="style"}
<style type="text/css">
  .a-upload {
    padding: 4px 10px;
    height:30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
 </style> 
{/block}

{block name="content"}

<form  action="{:module_url('importUser')}" method="post" enctype="multipart/form-data"> 
   <div class="am-g am-margin-top-sm" >
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 Import user table
                             </div> 
                            <div class="am-u-sm-8 am-u-md-7 am-u-end">  
                                 <a href="javascript:;" class="a-upload">Click Upload Form
                                 <input type="file" name="upload_file" id="upload_file">
                
                                 </a><span id="upload_result"></span>
                                      <p>(*The file only supports xls, the maximum upload size is 10M, the data failed to be imported will be exported in excel form.)</p>
                            </div>
     </div> 
    <div class="am-g am-margin-top-sm">
        <div class="am-u-sm-4 am-u-md-2 am-text-right">User Operating</div>
        <div class="am-u-sm-8 am-u-md-7 am-u-end">
            <button type="submit" class="am-btn am-btn-sm am-btn-primary " >Ok</button>
          
            
        </div></div>
    
</form>

{/block}

{block name="script"}

<script type="text/javascript" src="{$lib_path}/jquery/2.0.0/jquery.min.js?_={$site_version}"></script>
 <script type="text/javascript">
         // 上传文件
	$('#upload_file').on('change', function(){
		
		var uploadFile = $(this).get(0).files[0];
		
		if(typeof uploadFile == 'undefined'){
			return false;
		}
		
		var formData = new FormData();
		
		formData.append('upload_file', uploadFile);
		var ajaxOption = {
			url 	: '{:module_url("Interfaces/uploadExcel")}',
			type	: 'post',
			data	: formData,
			dataType: 'json',
			timeout	: 0,
			processData : false,
			contentType : false,
                        xhr : function(){
				var xhr = $.ajaxSettings.xhr();
				xhr.upload.onprogress = function(event){
					var percent = 0, position = event.loaded || event.position, total = event.total;
					if (event.lengthComputable) {
						percent = position / total * 100;
					}
					if(percent > 100){
						percent = 100;
					}
					$.AMUI.progress.set(percent);
					$('#upload_result').html('<span >[Upload progress：'+percent+'%]</span>');
				};
				return xhr;
			},
			success	: function(res){
				
				if(!res.msg){
					
				       $('#upload_file').before('<input type="hidden" value="'+res.url+'" name="options"/>');
				}else{
					$('#upload_result').html('<span >['+res.msg+']</span>');
				}
			},
			error : function(xhr){
				
				$('#upload_result').html('<span >[Network link error]</span>');
			}
		};
		$.ajax(ajaxOption);
	});
 </script>
{/block}