  {extend name="common/base"}


{block name="content"}
<div class="feature-container clearfix">
      


            <div class="feature-wrapper">
        <div class="image-wrapper">
          <img src="{$static_path}/advance/img/333.jpg" alt="">
        </div>
        <div class="feature-desc feature-desc-2">
          <div class="feature-desc-inner-wrapper">
          <h3><span>Diabetes Care Programme</span></h3>
          <ul>
            <li><a href="{:url('/Allianz/DCP/services/2')}#pressure"><span class="feature-text"><span class="special-text">Diabetes Care Programme</span><span class="feature-icon"><i class="fa fa-angle-right"></i></span></span></a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
{/block}
{/extend}

