{extend name="common/base"}


{block name="style"}

<link rel="stylesheet" type="text/css" href="{$static_path}/advance/css/sub_page.css?_={$site_version}">

{/block}

{block name="content"}


<!--服务2-->
<div class="expert-opinion-wrapper" id="Cpmao">
      <div class="expert-section expert-section-1">
        <p class="expert-titles2"><span>Diabetes Care Programme</span></p>
        <div class="expert-sub-2">
          <div style="width: 100%;height: auto;">
            <div class="center-left"></div>
            <div class="center-right">
              <div class="topbar"></div>
              <p class="center-text">There are so many things that you need to readjust once diagnosed with diabetes.</p>
              <div class="bottombar"><div class="bottombar1"></div><div class="bottombar2"></div></div>
            </div>
            <div class="clearfix"></div>
          </div>

      <div class="diagnose-step-text-new clearfix ">
        <ul>
            <li class="question-img"><img src="{$static_path}/advance/img/icon/ICONS-01.png" alt=""></li>
            <li>Can I continue with my favorite sports?</li>
            <li>What should I avoid if I'm taking medication?</li>
            <li>How do I manage a stable blood sugar level?</li>
            <li>How do I eat healthier without compromising taste?</li>
        </ul>
      </div>

      <!-- 图片长图 -->

      <div class="expert-main-example-new">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/expert-opinion02.jpg" alt="banner">
            </div>
      </div>
      <!-- 文字介绍 -->
      <div class="expert-example-caption">
        <p class="text1">When you reach out to the Advance Medical Diabetes Care programme，we will assign a licensed physician as your Personal Health Advisor who will provide sufficient time and attention to take care of your needs. After a clinical conversation，a series of assessments will be carried out. Within days you will receive a tailored Diabetes Care Plan explained to you by your health advisor.
        </p>
        <br/>
        <p class="text2">Afterwards，a licensed nurse will follow up with you to answer questions，clear doubts，and keep you moving forward to achieve your goals.</p>
      </div>
      <br/>
      <br/>
      <!-- 分类介绍 -->
      <p class="expert-text3">Simply call us at 1&nbsp;300&nbsp;88&nbsp;1028*,and leave the rest to our professional medical and wellness team!</p>
      <br/>
      <p class="expert-text4">*Enrolment Period:&nbsp;Within 12 months of your Allianz Diabetic Essential Policy date.</p>
      <br/>
      <!-- 分类三小类 -->
      <div class="expert-feature-wrapper-new expert-feature-wrapper-new-bgcolor clearfix ">
            <div class="expert-feature-new clearfix ">
              <div class="image-wrapper-new"><img src="{$static_path}/advance/img/icon/ICONS-03.png" alt=""></div>
              <div class="feature-caption-new">
                <span class="feature-title-new">
                Request
                </span>
                <span class="feature-title-new hidden-sm hidden-xs">
                &nbsp;
                </span>
                <span class="feature-title-news">Questions</span>
                <span class="feature-title-news">Test results</span>
                <span class="feature-title-news">Diagnosis</span>
              </div>
            </div>
            <div class="expert-feature-new clearfix">
              <div class="image-wrapper-new"><img src="{$static_path}/advance/img/icon/ICONS-04.png" alt=""></div>
              <div class="feature-caption-new">
              <span class="feature-title-new hidden-xs hidden-sm">
              Clinical
              </span>
              <span class="feature-title-new hidden-xs hidden-sm">
              Conversation
              </span>
              <span class="feature-title-new visible-xs visible-sm">
              Clinical Conversation
              </span>
              <span class="feature-title-news hidden-sm hidden-xs">&nbsp;</span>
              <span class="feature-title-news visible-xs visible-sm">A doctor calls you back within 24 hours*</span>
              <span class="feature-title-news hidden-xs hidden-sm">A doctor calls you</span>
              <span class="feature-title-news hidden-xs hidden-sm">back within 24 hours*</span>
              </div>
            </div>
            <div class="expert-feature-new clearfix">
              <div class="image-wrapper-new"><img src="{$static_path}/advance/img/icon/ICONS-05.png" alt=""></div>
              <div class="feature-caption-new">
              <span class="feature-title-new visible-xs visible-sm">
              Personalized Care Plan
              </span>
              <span class="feature-title-new hidden-xs hidden-sm">
              Personalized
              </span>
              <span class="feature-title-new hidden-xs hidden-sm">
              Care Plan
              </span>
              <span class="feature-title-news visible-xs visible-sm">A comprehensive plan including medical precautions, diet solutions and active living altematives</span>
              <span class="feature-title-news hidden-xs hidden-sm">A comprehensive plan</span>
              <span class="feature-title-news hidden-xs hidden-sm">including medical precautions, </span>
              <span class="feature-title-news hidden-xs hidden-sm">diet solutions and active living altematives</span>
              </div>
            </div>
      </div>
      <br/>
      <!-- 单小图 -->
      <div class="expert-feature-wrapper-three clearfix ">
            <div class="expert-feature-center expert-feature-three clearfix">
              <div class="image-wrapper-three"><img src="{$static_path}/advance/img/icon/ICONS-02.png" alt=""></div>
              <div class="feature-caption-three">
                <p class="feature-title-three">
                A nurse follows up for six months
                </p>
              </div>
            </div>  
      </div>
      <p class="feature-title-bottom">
                *business hours
      </p>
    </div>
        
        

      </div>

    </div>



{/block}



{/extend}
