{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:module_url('edit',['id' => $_id])}">
		
			{$widget->form('text', ['title' => 'User Name', 'name' => 'user_name', 'value' => $user_list['user_name'],'r_md_num'=>3])}
			{$widget->form('text', ['title' => 'Name', 'name' => 'nickname', 'value' => $user_list['nickname'],'r_md_num'=>1])}
                        {$widget->form('select', ['title' => 'Company', 'name' => 'company', 'value' =>$user_list['company'],'list'=>$company_list])}
                        <!--                        {$widget->form('text', ['title' => 'Login Password', 'type' => 'password', 'name' => 'pwd', 'value' =>'','r_md_num'=>3] )}-->
                       
                        <div class="am-g am-margin-top-sm" >
                            
                            <div class="am-u-sm-4 am-u-md-2 am-text-right" >Login Password</div>
                            <div class="am-u-sm-8 am-u-md-3 am-u-end" >
                                <input type="password" class="am-input-sm" name="pwd" value="" />
                            </div>
                            <button type="button" class="am-btn am-btn-sm am-btn-primary " onClick="resetpwd({$_id});">Reset Password</button>
                        </div>
			{$widget->form('text', ['title' => 'Confirm Password', 'type' => 'password', 'name' => 'pwd_again', 'value' => '','r_md_num'=>3])}
			{if condition="$isCm eq 1"}
			{$widget->form('select', ['title' => 'Specialty', 'name' => 'kslist[]', 'value' => $user_list['ks_list'], 'list' => $kslist, 'attr' => 'multiple','select_default'=>'Please choose','tip'=>'*Can be multiple choice, click repeatedly to cancel.'])}
                        {$widget->form('select', ['title' => 'Good at language', 'name' => 'langlist[]', 'value' => $user_list['bestlang'], 'list' => $bestlang, 'attr' => 'multiple','select_default'=>'Please choose','tip'=>'*Can be multiple choice, click repeatedly to cancel.'])}
                        {/if}
                        {$widget->form('radio', ['title' => 'Gender', 'name' => 'sex', 'value' => $user_list['sex'],'list'=>$sexlist])}
			     {$widget->form('text', ['title' => 'Residence Address', 'name' => 'area', 'value' => $user_list['area'],'r_md_num'=>3])}
			{$widget->form('text', ['title' => 'Email', 'name' => 'email', 'value' => $user_list['email'],'r_md_num'=>3])}
			
                        {$widget->form('text', ['title' => 'Mobile Number', 'name' => 'tel', 'value' => $user_list['tel'],'r_md_num'=>3])}
                        
                        {$widget->form('select', ['title' => 'Notification language', 'name' => 'language', 'value' =>$user_list['language'],'list'=>$languagelist])}
		
			{$widget->form('image', ['title' => 'Avatar', 'name' => 'avatar', 'value' => $user_list['avatar'], 'width' => 600,'require'=>false])}
			
			{$widget->form('radio', ['title' => 'User Status', 'name' => 'u_status', 'value' => 1, 'list' => $userstatus])}
	               
		
			
		
			
			
			{$widget->form('submit', ['title' => 'User Operating','text_ok' => 'Ok','text_cancel' => 'Cancel'])}
			
		</form>
	</div>
</div>
{/block}
{block name="script"}

<script type="text/javascript" src="{$lib_path}/jquery/2.0.0/jquery.min.js?_={$site_version}"></script>
 <script type="text/javascript">

     function resetpwd(id){
         
         $.ajax({
			url:"{:module_url('resetpwd')}",
			data:{userid:id},
			dataType:'json',
			type:'post',
                        async: false,
			success:function(data){
                              
				
                                  alert(data.msg,data.code);
                                
                            
                           
			}
		})
    }
    
</script>
{/block}