.form-wrapper
{
    max-width: 700px;
    margin: auto;

    background-color: #fff;
}.form-wrapper a,
.form-wrapper a:hover
{
    text-decoration: none;
}.mobile-form-logo-header .logo-wrapper
{
    width: 100%;
    height: 70px;
    margin: 0;

    text-align: center;
    text-decoration: none;
}.mobile-form-logo-header .logo1
{
    display: inline-block;

    width: 175px;
}.mobile-form-logo-header img
{
    width: 100%;
    height: auto;
}.m-form-step-indicator
{
    width: 100%;
}.m-form-step-indicator div
{
    float: left;

    width: 33.3333333%;
}.m-form-step-indicator span
{
    font-size: 1.5em;
    line-height: 40px;

    display: block;

    height: 40px;
    margin-left: 1px;

    text-align: center;

    color: #fff;
    background-color: #52cc9d;
}.m-form-step-indicator span.current
{
    line-height: 45px;

    height: 45px;
    margin-top: -5px;

    background-color: #017f4f;
}.m-form-step-indicator span.completed
{
    background-color: #017f4f;
}.m-form-step-indicator div:first-child span
{
    margin-left: 0;
}.m-form-step-indicator2 span
{
    background-color: #1ba9f5;
}.m-form-step-indicator2 span.completed,
.m-form-step-indicator2 span.current
{
    background-color: #0775aa;
}.m-form-step-indicator3 span
{
    background-color: #e645a5;
}.m-form-step-indicator3 span.completed,
.m-form-step-indicator3 span.current
{
    background-color: #9d3373;
}.m-form-step-indicator4 span
{
    background-color: #8b5ef5;
}.m-form-step-indicator4 span.completed,
.m-form-step-indicator4 span.current
{
    background-color: #563e96;
}.medical-form ::-webkit-input-placeholder
{
    font-size: 1em;

    color: #017f4f;
}.medical-form :-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #017f4f;
}.medical-form ::-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #017f4f;
}.medical-form :-ms-input-placeholder
{
    font-size: 1em;

    color: #017f4f;
}.medical-form :placeholder-shown
{
    font-size: 1.1em;

    color: #017f4f;
}.medical-form input
{
    height: 35px;

    border-radius: 0;
}.medical-form input[type=text]
{
    font-size: 1.4em;

    padding-left: 7px;

    color: #017f4f;
    border-color: #017f4f;
}.medical-form input[type=radio]
{
    position: absolute;
    left: -999em;
}.medical-form input[type=checkbox]
{
    z-index: 1;

    opacity: 0;
}.medical-form select
{
    font-size: 1.4em;

    display: block;

    width: 100%;
    height: 35px;
    padding-left: 5px;

    color: #017f4f;
    border-color: #017f4f;
    border-radius: 0;
}.medical-form .select-wrapper
{
    position: relative;

    border: 1px solid #017f4f;
}.medical-form .select-wrapper select
{
    border: none;

            appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
}.medical-form .select-wrapper:before
{
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 35px;

    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    height: 35px;

    content: '\f0d7';

    color: #017f4f;
}.medical-form select[disabled]
{
    cursor: not-allowed;

    background-color: #e6f2ee;
}.medical-form .form-section
{
    display: none;

    padding: 10px 15px;
}.medical-form .form-section.current
{
    display: block;
}.medical-form .form-group
{
    margin-bottom: 5px;
}.medical-form .medical-label
{
    font-size: 1.5em;
    font-weight: 400;

    margin-top: 5px;

    color: #017f4f;
}.medical-form .gender-single,
.medical-form .relation-single
{
    padding-right: 0;
    padding-left: 6px;
}.medical-form .gender-single label,
.medical-form .relation-single label
{
    display: block;

    width: 100%;
    padding: 0;
}.medical-form .gender-single:first-child,
.medical-form .relation-single:first-child
{
    padding-left: 0;
}.medical-form input[type=radio] + span
{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 35px;

    display: block;

    width: 100%;
    height: 35px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #52cc9d;
}.medical-form input[type=radio]:checked + span
{
    background-color: #017f4f;
}.medical-form .gender-single input[type=radio] + span
{
    line-height: 32px;

    height: 32px;
}.medical-form .form-navigation
{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 15px 10px;

    border-top: 1px solid #017f4f;
    background-color: #fff;
}.medical-form .btn-navigate
{
    display: inline-block;

    width: 100px;
    height: 35px;

    color: #fff;
    border-radius: 0;
    background-color: #52cc9d;
}.medical-form .btn-navigate:active
{
    background-color: #017f4f;
}.medical-form .has-width
{
    display: inline-block;

    width: 5em;

    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
}.medical-form .address-choose
{
    padding-right: 0;
    padding-left: 6px;
}.medical-form .little-character
{
    font-size: .9em;

    letter-spacing: -.5px;
}.medical-form .address-choose:first-child
{
    padding-left: 0;
}.medical-form .address-details
{
    padding: 5px 0 0;
}.medical-form .form-text
{
    font-size: 1.2em;

    margin-top: 120px;
    padding-left: 15px;

    color: #017f4f;
}.medical-form .form-text .sup-ast
{
    font-size: .8em;

    margin-right: 4px;

    vertical-align: super;
}.medical-form .info-details
{
    font-size: 1.4em;

    display: block;

    width: 100%;
    height: 140px;
    padding: 5px;

    resize: none;

    border-color: #017f4f;
}.medical-form .input-file
{
    position: absolute;
    z-index: -1;

    overflow: hidden;

    width: .1px;
    height: .1px;

    opacity: 0;
}.medical-form .file-choose,
.medical-form .file-name
{
    line-height: 30px;

    width: 100%;
    height: 30px;

    text-align: center;
}.medical-form .input-file + label
{
    display: block;
    overflow: hidden;

    width: 100%;
    padding: 0;

    cursor: pointer;
}.medical-form .file-name
{
    display: none;

    margin-bottom: 5px;

    color: #017f4f;
    border: 1px solid #017f4f;
}.medical-form .file-choose
{
    font-size: 1.4em;

    display: inline-block;

    color: #fff;
    background-color: #017f4f;
}.medical-form .form-another-text
{
    font-size: 1.2em;

    margin: 0;

    color: #017f4f;
}.medical-form .form-another-text .sup-ast
{
    margin-right: 4px;

    vertical-align: super;
}.medical-form .contract-check-error
{
    padding: 0 15px;
}.medical-form .optional-checkbox
{
    display: none;

    margin-top: 20px;

    color: #017f4f;
}.medical-form .optional-checkbox label
{
    font-size: 1.4em;
    font-weight: 400;
    line-height: 20px;

    position: relative;

    display: inline-block;

    height: 20px;
    padding-left: 5px;

    cursor: pointer;
    vertical-align: middle;
}.medical-form .optional-checkbox label::before
{
    position: absolute;
    left: 0;

    display: inline-block;

    width: 17px;
    height: 17px;
    margin-top: 1px;
    margin-left: -17px;

    content: '';

    border: 1px solid #017f4f;
    background-color: #fff;
}.medical-form .optional-checkbox label::after
{
    font-size: 11px;

    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin-left: -17px;
    padding-left: 3px;

    color: #555;
}.medical-form .optional-checkbox input[type=checkbox]:checked + label::before
{
    border-color: #017f4f;
    background-color: #017f4f;
}.medical-form .optional-checkbox input[type=checkbox]:checked + label::after
{
    font-family: FontAwesome;

    content: '\f00c';

    color: #fff;
}.medical-form .doctor-group
{
    display: none;
}.medical-form .checkbox-wrapper
{
    width: 100%;
    margin-top: 40px;

    color: #017f4f;
    background-color: #cef2e4;
}.medical-form .checkbox-wrapper .form-group
{
    margin: 0;
    padding: 13px 0;
}.medical-form .checkbox-wrapper .contract-click,
.medical-form .checkbox-wrapper label
{
    font-size: 1.4em;
    font-weight: 400;
    line-height: 25px;

    position: relative;

    display: inline-block;

    height: 25px;
    margin-bottom: 0;
    padding-left: 5px;

    cursor: pointer;
}.medical-form .checkbox-wrapper .contract-click
{
    font-weight: 700;

    padding-left: 0;

    text-decoration: underline;
}.medical-form .checkbox-wrapper label::before
{
    position: absolute;
    left: 0;

    display: inline-block;

    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: -16px;

    content: '';

    border: 1px solid #017f4f;
    background-color: #fff;
}.medical-form .checkbox-wrapper label::after
{
    font-size: 11px;

    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 13px;
    height: 13px;
    margin-left: -17px;
    padding-left: 3px;

    color: #555;
}.medical-form .checkbox-wrapper input[type=checkbox]
{
    height: 1px;
}.medical-form .checkbox-wrapper input[type=checkbox]:checked + label::before
{
    border-color: #017f4f;
    background-color: #017f4f;
}.medical-form .checkbox-wrapper input[type=checkbox]:checked + label::after
{
    font-family: FontAwesome;

    content: '\f00c';

    color: #fff;
}.medical-form .mobile-time-trigger button
{
    font-size: 1.4em;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 35px;

    text-align: center;
    text-overflow: ellipsis;

    color: #fff;
    border-radius: 0;
    background-color: #52cc9d;
}.medical-form .time-grid
{
    letter-spacing: -1px;
}.medical-form .user-time
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background-color: #fff;
}.medical-form .user-time .user-time-wrapper
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 200px;
    margin-top: -100px;
}.medical-form .user-time .time-inner-wrapper
{
    display: inline-block;

    width: 50%;
    height: 38px;
    margin-bottom: 12px;
    padding-left: 5px;
}.medical-form .user-time .time-inner-wrapper:first-child
{
    padding-left: 0;
}.medical-form .user-time .user-time-close
{
    font-size: 1.4em;
    line-height: 38px;

    height: 38px;
    margin-top: 10px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 5px;

    color: #fff;
    background-color: #017f4f;
}.medical-form .user-time label
{
    display: block;
}.medical-form .user-time input[type=checkbox]
{
    position: absolute;

    height: 1px;
}.medical-form .user-time input[type=checkbox] + span
{
    font-size: 1.2em;
    line-height: 35px;

    display: inline-block;

    width: 100%;
    height: 35px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 0;

    color: #fff;
    background-color: #52cc9d;
}.medical-form2 .checkbox-wrapper,
.medical-form2 .file-name,
.medical-form2 .form-another-text,
.medical-form2 .form-text,
.medical-form2 .medical-label,
.medical-form2 .select-wrapper:before
{
    color: #0775aa;
}.medical-form .user-time input[type=checkbox]:checked + span
{
    background-color: #017f4f;
}.medical-form2 ::-webkit-input-placeholder
{
    font-size: 1em;

    color: #0775aa;
}.medical-form2 :-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #0775aa;
}.medical-form2 ::-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #0775aa;
}.medical-form2 :-ms-input-placeholder
{
    font-size: 1em;

    color: #0775aa;
}.medical-form2 :placeholder-shown
{
    font-size: 1.1em;

    color: #0775aa;
}.medical-form2 input[type=text],
.medical-form2 select
{
    color: #0775aa;
    border-color: #0775aa;
}.medical-form2 select[disabled]
{
    background-color: #caecfc;
}.medical-form2 input[type=radio] + span
{
    background-color: #1ba9f5;
}.medical-form2 input[type=radio]:checked + span
{
    background-color: #0775aa;
}.medical-form2 .select-wrapper
{
    border: 1px solid #0775aa;
}.medical-form2 .form-navigation
{
    border-top: 1px solid #0775aa;
}.medical-form2 .btn-navigate
{
    background-color: #1ba9f5;
}.medical-form2 .btn-navigate:active,
.medical-form2 .file-choose
{
    background-color: #0775aa;
}.medical-form2 .info-details
{
    border-color: #0775aa;
}.medical-form2 .file-name
{
    border: 1px solid #0775aa;
}.medical-form2 .checkbox-wrapper
{
    background-color: #caecfc;
}.medical-form2 .checkbox-wrapper label::before
{
    border: 1px solid #0775aa;
}.medical-form2 .checkbox-wrapper label::after
{
    color: #555;
}.medical-form2 .checkbox-wrapper input[type=checkbox]:checked + label::before
{
    border-color: #0775aa;
    background-color: #0775aa;
}.medical-form2 .mobile-time-trigger button
{
    background-color: #1ba9f5;
}.medical-form2 .mobile-time-trigger button:active,
.medical-form2 .user-time .user-time-close
{
    background-color: #0775aa;
}.medical-form2 .user-time input[type=checkbox] + span
{
    background-color: #1ba9f5;
}.medical-form2 .user-time input[type=checkbox]:checked + span
{
    background-color: #0775aa;
}.medical-form3 ::-webkit-input-placeholder
{
    font-size: 1em;

    color: #9d3373;
}.medical-form3 :-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #9d3373;
}.medical-form3 ::-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #9d3373;
}.medical-form3 :-ms-input-placeholder
{
    font-size: 1em;

    color: #9d3373;
}.medical-form3 :placeholder-shown
{
    font-size: 1.1em;

    color: #9d3373;
}.medical-form3 input[type=text],
.medical-form3 select
{
    color: #9d3373;
    border-color: #9d3373;
}.medical-form3 select[disabled]
{
    background-color: #f2cee4;
}.medical-form3 .select-wrapper
{
    border: 1px solid #9d3373;
}.medical-form3 .medical-label,
.medical-form3 .select-wrapper:before
{
    color: #9d3373;
}.medical-form3 input[type=radio] + span
{
    background-color: #e645a5;
}.medical-form3 input[type=radio]:checked + span
{
    background-color: #9d3373;
}.medical-form3 .form-navigation
{
    border-top: 1px solid #9d3373;
}.medical-form3 .btn-navigate
{
    background-color: #e645a5;
}.medical-form3 .btn-navigate:active,
.medical-form3 .file-choose
{
    background-color: #9d3373;
}.medical-form3 .form-text
{
    color: #9d3373;
}.medical-form3 .info-details
{
    border-color: #9d3373;
}.medical-form3 .file-name
{
    color: #9d3373;
    border: 1px solid #9d3373;
}.medical-form3 .form-another-text
{
    color: #9d3373;
}.medical-form3 .checkbox-wrapper
{
    color: #9d3373;
    background-color: #f2cee4;
}.medical-form3 .checkbox-wrapper label::before
{
    border: 1px solid #9d3373;
}.medical-form3 .checkbox-wrapper label::after
{
    color: #555;
}.medical-form3 .checkbox-wrapper input[type=checkbox]:checked + label::before
{
    border-color: #9d3373;
    background-color: #9d3373;
}.medical-form3 .mobile-time-trigger button
{
    background-color: #e645a5;
}.medical-form3 .mobile-time-trigger button:active,
.medical-form3 .user-time .user-time-close
{
    background-color: #9d3373;
}.medical-form3 .user-time input[type=checkbox] + span
{
    background-color: #e645a5;
}.medical-form3 .user-time input[type=checkbox]:checked + span
{
    background-color: #9d3373;
}.medical-form4 ::-webkit-input-placeholder
{
    font-size: 1em;

    color: #563e96;
}.medical-form4 :-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #563e96;
}.medical-form4 ::-moz-placeholder
{
    font-size: 1em;

    opacity: 1;
    color: #563e96;
}.medical-form4 :-ms-input-placeholder
{
    font-size: 1em;

    color: #563e96;
}.medical-form4 :placeholder-shown
{
    font-size: 1.1em;

    color: #563e96;
}.medical-form4 input[type=text],
.medical-form4 select
{
    color: #563e96;
    border-color: #563e96;
}.medical-form4 select[disabled]
{
    background-color: #e1d7fc;
}.medical-form4 .select-wrapper
{
    border: 1px solid #563e96;
}.medical-form4 .medical-label,
.medical-form4 .select-wrapper:before
{
    color: #563e96;
}.medical-form4 input[type=radio] + span
{
    background-color: #8b5ef5;
}.medical-form4 input[type=radio]:checked + span
{
    background-color: #563e96;
}.medical-form4 .form-navigation
{
    border-top: 1px solid #563e96;
}.medical-form4 .btn-navigate
{
    background-color: #8b5ef5;
}.medical-form4 .btn-navigate:active,
.medical-form4 .file-choose
{
    background-color: #563e96;
}.medical-form4 .form-text
{
    color: #563e96;
}.medical-form4 .info-details
{
    border-color: #563e96;
}.medical-form4 .file-name
{
    color: #563e96;
    border: 1px solid #563e96;
}.medical-form4 .form-another-text
{
    color: #563e96;
}.medical-form4 .checkbox-wrapper
{
    color: #563e96;
    background-color: #e1d7fc;
}.medical-form4 .checkbox-wrapper label::before
{
    border: 1px solid #563e96;
}.medical-form4 .checkbox-wrapper label::after
{
    color: #555;
}.medical-form4 .checkbox-wrapper input[type=checkbox]:checked + label::before
{
    border-color: #563e96;
    background-color: #563e96;
}.medical-form4 .mobile-time-trigger button
{
    background-color: #8b5ef5;
}.medical-form4 .mobile-time-trigger button:active,
.medical-form4 .user-time .user-time-close
{
    background-color: #563e96;
}.medical-form4 .user-time input[type=checkbox] + span
{
    background-color: #8b5ef5;
}.medical-form4 .user-time input[type=checkbox]:checked + span
{
    background-color: #563e96;
}.medical-form2 .dtpicker-content
{
    border: 1px solid #0775aa;
}.medical-form2 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:focus,
.medical-form2 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:hover,
.medical-form2 .dtpicker-components .dtpicker-comp > *,
.medical-form2 .dtpicker-header .dtpicker-close,
.medical-form2 .dtpicker-header .dtpicker-value
{
    color: #0775aa;
}.medical-form2 .dtpicker-buttonCont .dtpicker-button
{
    background: #0775aa;
}.medical-form3 .dtpicker-content
{
    border: 1px solid #9d3373;
}.medical-form3 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:focus,
.medical-form3 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:hover,
.medical-form3 .dtpicker-components .dtpicker-comp > *,
.medical-form3 .dtpicker-header .dtpicker-close,
.medical-form3 .dtpicker-header .dtpicker-value
{
    color: #9d3373;
}.medical-form3 .dtpicker-buttonCont .dtpicker-button
{
    background: #9d3373;
}.medical-form4 .dtpicker-content
{
    border: 1px solid #563e96;
}.medical-form4 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:focus,
.medical-form4 .dtpicker-components .dtpicker-comp .dtpicker-compButton a:hover,
.medical-form4 .dtpicker-components .dtpicker-comp > *,
.medical-form4 .dtpicker-header .dtpicker-close,
.medical-form4 .dtpicker-header .dtpicker-value
{
    color: #563e96;
}.medical-form4 .dtpicker-buttonCont .dtpicker-button
{
    background: #563e96;
}.contract-context
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    color: #017f4f;
    background-color: #fff;
}.contract-context .contract-header
{
    font-size: 1.4em;
    font-weight: 700;
    line-height: 50px;

    height: 50px;
    padding-left: 20px;

    color: #017f4f;
    background-color: #cef2e4;
}.contract-context .contract-close-button
{
    font-size: 1.2em;

    display: inline-block;
    float: right;

    cursor: pointer;

    color: #017f4f;
}.contract-context2,
.contract-context2 .contract-close-button
{
    color: #0775aa;
}.contract-context .contract-close-button i
{
    line-height: 1;

    display: inline-block;

    margin-top: 10px;
    margin-right: 10px;
}.contract-context .contract-para
{
    font-size: 1.4em;

    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 15px 15px 40px;
}.contract-context .contract-para .para-outter-wrapper
{
    position: relative;
}.contract-context .contract-para p
{
    text-align: justify;
    text-indent: 2em;
}.contract-context .contract-para span
{
    position: absolute;
    top: 0;
    left: 0;
}.contract-context2 .contract-header
{
    color: #0775aa;
    background-color: #caecfc;
}.contract-context3,
.contract-context3 .contract-close-button
{
    color: #9d3373;
}.contract-context3 .contract-header
{
    color: #9d3373;
    background-color: #f2cee4;
}.contract-context4,
.contract-context4 .contract-close-button
{
    color: #563e96;
}.contract-context4 .contract-header
{
    color: #563e96;
    background-color: #e1d7fc;
}.box-container
{
    position: relative;

    width: 100%;
}#dtBox a,
#dtBox a:hover
{
    text-decoration: none;
}.form-feedback-wrapper
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background-color: #fff;
}.form-feedback-wrapper .form-feedback
{
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;

    text-align: center;
}.form-feedback-wrapper p
{
    font-size: 2.2em;

    margin-bottom: 50px;

    color: #017f4f;
}.form-feedback-wrapper a
{
    font-size: 1.8em;

    display: inline-block;

    padding: 10px 18px;

    text-decoration: none;

    color: #fff;
    background-color: #017f4f;
}.form-feedback-wrapper a:focus,
.form-feedback-wrapper a:hover
{
    color: #fff;
}.form-feedback-wrapper2 p
{
    color: #0775aa;
}.form-feedback-wrapper2 a
{
    background-color: #0775aa;
}.form-feedback-wrapper3 p
{
    color: #9d3373;
}.form-feedback-wrapper3 a
{
    background-color: #9d3373;
}.form-feedback-wrapper4 p
{
    color: #563e96;
}.form-feedback-wrapper4 a
{
    background-color: #563e96;
}
/*20170731*/
.a-uploadphone {
    padding: 4px 10px;
    height:30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-uploadphone  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}