<!DOCTYPE html>
<html>
<head>
    <title>form Ajax提交</title>
   
</head>
<body>
<form id="Form1" action="{:url('/caseApi')}" method="post" enctype="multipart/form-data">
apiid：<input name="apiid" type="text" value="fae1642cca025e189c745da5d8b06a57"/><br />
apipwd：<input name="apipwd" type="text" value="39dfb57e2b525e81fe68445bfd25cf1a"/><br />
timestamp：<input name="timestamp" type="text" value="1504165281"/><br />
sign：<input name="sign" type="text" value="4762951bccdb4f86f78d73b579363ea2"/><br />
body：<input name="body" type="text" value="eyJ1c2VybmFtZSI6IndhbmdxaWFuZ0BtZWV0dXV1LmNvbSIsInB3ZCI6IjEyMyIsImNhc2VfdHlwZSI6IjEiLCJjX3VzZXJuYW1lIjoiXHU3MzhiXHU1ZjNhIiwiYmlydGhkYXkiOiIxOTkzLTAyLTAxIiwic2V4IjoiMSIsImlzbWUiOiIxIiwicmVsYXRpb25zaGlwIjoiIiwiYXBwbGljYW50X25hbWUiOiJcdTczOGJcdTVmM2EiLCJjb3VudHJ5IjoiMSIsInByb3ZpbmNlIjoiMTEwMDAwIiwiY2l0eSI6IjExMDEwMCIsImRpc3RyaWN0IjoiMTEwMTAxIiwiYWRkcmVzcyI6Ilx1NmQ0Ylx1OGJkNVx1NTczMFx1NTc0MCIsInppcF9jb2RlIjoiIiwiZW1haWwiOiI5NzIyNzA1MTZAcXEuY29tIiwicHJlZmVycmVkX3Bob25lIjoiMTg3MjE2Njc1MzEiLCJzdGFuZGJ5X3Bob25lIjoiIiwicHJlZmVycmVkX3RpbWUiOiI5OjAwfjEyOjAwIiwiaWxsbmVzcyI6Ilx1NzVjNVx1NGU4NiIsInRyZWF0bWVudF9kb2N0b3IiOiIiLCJ0cmVhdG1lbnRfaG9zcGl0YWwiOiIiLCJzcGVjaWFsdHkiOiIifQ%3D%3D"/><br />
姓名：<input name="username" type="text" value="wangqiang@meetuuu.com"/><br />
密码：<input name="pwd" type="text" value="123"/><br />
case服务类型<input name="case_type" type="text" value="1"/><br />
患者姓名:<input name="c_username" type="text" value="王强"/><br />
日期：<input name="birthday" type="text" value="1993-02-01"/><br />
性别：<input name="sex" type="text" value="1"/><br />
是否为本人：<input name="isme" type="text" value="1"/><br />
与患者关系：<input name="relationship" type="text" value=""/><br />
申请人姓名：<input name="applicant_name" type="text" value="王强"/><br />
国家：<input name="country" type="text" value="1"/><br />
省：<input name="province" type="text" value="110000"/><br />
市：<input name="city" type="text" value="110100"/><br />
区：<input name="district" type="text" value="110101"/><br />
地址：<input name="address" type="text" value="测试地址"/><br />
邮编：<input name="zip_code" type="text" value=""/><br />
邮箱：<input name="email" type="text" value="972270516@qq.com"/><br />
首选电话：<input name="preferred_phone" type="text" value="18721667531"/><br />
备选电话：<input name="standby_phone" type="text" value=""/><br />
接听电话时间：<input name="preferred_time" type="text" value="9:00~12:00"/><br />
病情表述：<textarea name="illness">病了</textarea><br />
医生姓名：<input name="treatment_doctor" type="text" value=""/><br />
医院：<input name="treatment_hospital" type="text" value=""/><br />
治疗专科：<input name="specialty" type="text" value=""/><br />
<input type="submit" value="提 交" />
</form>

</body>
</html>
